/*each individual date div format*/
.overall{
    position: absolute;
    height: 75px;
    width: 75px;
    border: solid;
    border-width: 1px;
}

.overall.today {
    background-color: rgba(150,150,150, .25);
}

.overall:hover {
    background-color: rgba(150,150,150, .375);
}

.header {
    position: absolute;
    top: -20px;
    text-align: center;
    width: 100%;
}

.year {
    position: absolute;
    top: 15px;
    text-align: center;
    width: 100%;
    font-weight: 100;
}

/*container of 7 day divs*/
.week {
    position: absolute;
    width: 531px;
    height: 77px;
}

/*container of day labels*/
.label {
	position: absolute;
	height: 20px;
    width: 75px;
    border: solid;
	border-width: 1px;
    background-color: rgba(150,150,150,.5);
}

/*container of all day label divs*/
.days {
	position: absolute;
    width: 531px;
    height: 20px;
}

/*container for all of the week divs*/
.month {
    position: relative;
    margin: 0 auto;
    top: 0px;
    width: 531px;
    height: 520px;
}

/*formatting for the numbers*/
p.date {
   position: absolute;
   top: -10px;
   left: 5px;
}

/*formating for the day labels*/
p.dayText {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

/*right arrow*/
.triangle-right {
	position: absolute;
    right: 0px;
	width: 0;
	height: 0;
	border-top: 12.5px solid transparent;
	border-left: 20px solid black;
	border-bottom: 12.5px solid transparent;
    border-right: 1px solid transparent;
    outline-style: none;
    cursor: pointer;
    background: white;

}

/*left arrow*/
.triangle-left {
    position: absolute;
    left: 0px;
	width: 0;
	height: 0;
	border-top: 12.5px solid transparent;
	border-right: 20px solid black;
	border-bottom: 12.5px solid transparent;
    border-left: 1px solid transparent;
    outline-style: none;
    cursor: pointer;
    background: white;

}

/*container for the arrow buttons*/
.buttons {
	position: absolute;
    top: 5px;
    left: 115px;
    width: 300px;
    height: 30px;
    border: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0);
}

/*container of a zoomed in day*/
.dayZoomed {
	position: relative;
    margin: 0 auto;
    top: 0px;
    width: 520px;
    height: 550px;
	border: solid;
    border-width: 1px;
    border-color: black;
    display: none;
}

/*container for the buttons for dates*/
.dateButtons {
	position: absolute;
    margin: 0; 
    top: 52px; 
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -50%);
    width: 300px;
    height: 30px;
    border-right: solid;
    border-width: 1px;
    border-color: white;
}


/*format for the back button*/
.returnButton {
	position: absolute;
    font-size: 30px;
    top: 10px;
    left: 30px;
	width: 40px;
	height: 40px;
    outline-style: none;
    outline-color: white;
    border: 1px solid white;
    cursor: pointer;
    background: white;
}


/*format for the time container*/
.timeContainer {
	position: absolute;
    top: 110px;
    left: 100px;
	width: 370px;
	height: 400px;
    overflow-y: auto;
}

.times {
	position: absolute;
    top: 0px;
    right: 0px;
    width: 47px;
    height: 720px;
    line-height: 60px;
}

.lines {
	position: absolute;
    top: -7px;
    left: 0px;
    width: 303px;
    height: 720px;
    line-height: 60px;
}

.newEvent {
	position: absolute;
    font-size: 30px;
    top: 10px;
    right: 30px;
	width: 40px;
	height: 40px;
    outline-style: none;
    outline-color: white;
    border: 1px solid white;
    cursor: pointer;
    background: white;
}
	
/*used to create background to dim for new event div*/
.dim {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: rgba(0,0,0,.5);
    display: none;
}

/*used to create foreground to dim for new event div*/
.dialog-wrapper {
	width: 100%;
	height: 420px;
	top: 100px;
	left: 0px;
	position: absolute;
	z-index: 2;
    display: none;
}
	
/*foreground of new event div*/
.dialog {
	position: relative;
	margin: 0 auto;
	width: 500px;
	height: 420px;
	margin: 0 auto;
	background-color: white;
	color: black;
    display: none;
}

/*formating for drop-down menu*/
select {
	position: absolute;
	top: 62px;
	left: 150px;
	width: 120px;
	height:	35px;
	padding:5px 5px 0px 0px;
	border-radius: 0px;
	text-transform: none;
	color: black;
	font-size: 20px;
	border: none;
	border-bottom: 2px solid black;
	outline: none;

  
	/* make arrow and background */
	background:
	linear-gradient(45deg, transparent 50%, #d3d3d3 50%),
	linear-gradient(135deg, #d3d3d3 50%, transparent 50%),
	linear-gradient(to right, transparent, transparent);
	background-position:
	calc(100% - 7px) calc(1em - 3px),
	calc(100%) calc(1em - 3px),
	100% 0;
	background-size:
	7px 7px,
	7px 7px,
	2.5em 2.5em;
	background-repeat: no-repeat;
  	/* reset */
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	-webkit-appearance:none;
  	-moz-appearance:none;
	}

/*formatting for text labels of new event div*/
.labelsNE {
	font-size: 20px;
    text-align: right;
    position: absolute;
    top: -20px;
    left: 20px;
    width: 120px;
    font-family: Verdana;
    padding:5px 5px 3px 0px;
    line-height: 50px;
}

/*format of a star that is checked*/
.checked {
	color: orange;
}

/*format of a star*/
.fa-star {
	font-size: 20px;
  	width: 25px;
}

/*star container*/
.stars {
  	direction: rtl;
    position: absolute;
    top: 272px;
    left: 150px;
}

/*changes color to orange if hovered over*/
.fa-star:hover:before,
.fa-star:hover ~ span:before{
    color: orange;
}

.fa-close {
    position: absolute;
    right: 5px;
    font-size: 30px;
    cursor: pointer;
}

/*format for title of new event input*/
.titleIn {
	position: absolute;
    top: 15px;
    left: 150px;
    width: 250px;
	height:	30px;
    color: black;
	font-size: 20px;
	border: none;
	border-bottom: 2px solid black;
    font-family: Verdana;
    outline: none;
}

/*create event button in new event div*/
.createEventBtn {
	position: absolute;
    top: 320px;
    left: 170px;
    width: 160px;
	height:	35px;
    color: white;
	font-size: 20px;
	border: none;
    font-family: Verdana;
    outline: none;
    background-color: rgb(110,60,250);
    cursor: pointer;
}

.deleteBtn {
	position: absolute;
    top: 320px;
    left: 80px;
    width: 120px;
	height:	35px;
    color: white;
	font-size: 20px;
	border: none;
    font-family: Verdana;
    outline: none;
    background-color: rgb(250, 60, 60);
    cursor: pointer;
    visibility: hidden;
}

.deleteBtn.visible {
    visibility: visible;
}

.createEventBtn.right {
    left: 270px;
}

.chunkLevel {
    visibility: hidden;
    position: absolute;
    top: 213px;
    left: 340px;
    width: 60px;
	height:	30px;
    color: black;
	font-size: 20px;
	border: none;
	border-bottom: 2px solid black;
    font-family: Verdana;
    outline: none;
    cursor: pointer;
}

/*Time to complete input format*/
.timeToComplete {
	position: absolute;
    top: 165px;
    left: 150px;
    width: 60px;
	height:	30px;
    color: black;
	font-size: 20px;
	border: none;
	border-bottom: 2px solid black;
    font-family: Verdana;
    outline: none;
    cursor: pointer;
}

/*minutes label*/
.minutes {
    visibility: hidden;
	font-size: 20px;
    position: absolute;
    top: 188px;
    left: 415px;
    width: 30px;
    font-family: Verdana;
    line-height: 50px;
}

/*hours label*/
.hours {
	font-size: 20px;
    position: absolute;
    top: 137px;
    left: 218px;
    width: 30px;
    font-family: Verdana;
    line-height: 50px;
}

.eventDiv {
    width: 303px;
    background-color: rgba(110,60,250, .75);
    position: absolute;
}

.eventDiv:hover {
    background-color: rgba(110,60,250, .9);
}

.eventDivText {
    position: absolute;
    top: 1.5px;
    left: 2.5px;
    color: white;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 10px;
    margin: 0px 0px 0px 0px;
}

.statusText {
    position: absolute;
    top: 1.5px;
    right: 20px;
    color: white;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 10px;
    margin: 0px 0px 0px 0px;
}

.circle {
    position: absolute;
    right: 2.5px;
    top: 1.25px;
    height: 10px;
    width: 10px;
    background-color: rgba(0,0,0,0);
    border-radius: 50%;
    display: inline-block;
    border: 1px white solid;
}

.hiddenId {
    height: 0px;
    width: 0px;
}

.dayOfWeek {
    top: 10px;
    position: absolute;
    margin: 0 auto;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

.ineligibleDataEntry {
    border-bottom: 2px solid red;
    color: red;
}

/*The div that contains the possible error messages*/
.errorMessageContainer {
    bottom: 10px;
    position: absolute;
    height: 50px;
    width: 100%;
}

/*Error message formating*/
.errorMessage {
    color: red;
    font-size: 15px;
    text-align: center;
    margin: 0px;
}